p= `Hello admin, a customer made a request to purchase on installment from ${seller.firstName || ''} ${seller.lastName || ''}.`
p Confirmation email has been sent to the seller once the seller confirms product availability, a final confirmation mail will be sent to the users cooporative and platform admin.
p Below are the details

h5 Customer Detail
strong Name
span  #{buyer.firstName} #{buyer.lastName}

h5 Store Details
table(border=1 style='border-spacing: 0px;')
    thead
        tr
            th Store Name
            td #{seller.businessName}
        tr
            th Seller Name
            td #{seller.firstName || ''} #{seller.lastName || ''}
        tr
            th Seller Phone
            td #{seller.phoneNumber}
        tr
            th Seller Email
            td #{seller.email}

h5 Product
table(border=1 style='border-spacing: 0px;')
    thead
        tr
            th Product Number
            td #{product.productNumber}
        tr
            th Name
            td #{product.name}
        tr
            th Category
            td #{product.category.name}
        tr
            th Description
            td #{product.description}
        tr
            th Price
            td #{product.price}


h5 Installment Repayment Details
table(border=1 style='border-spacing: 0px;')
    thead
        tr
            th Quantity
            td #{cart.quantity}
        tr
            th Unit Price
            td #{cart.unitPrice}
        tr
            th Subtotal
            td #{cart.subTotal}
        tr
            th Repayment Duration
            td #{cart.installmentPeriod} Month(s)
        tr
            th Percentage
            td #{cart.installmentPercentage}%
        tr
            th Interest
            td #{cart.installmentInterest}
        tr
            th Total Repayment
            td #{cart.installmentTotalRepayment}


