p Hi Admin, #{buyer.lastName} #{buyer.firstName} made a payment of ₦#{order.subTotal} for order number <strong>##{order.orderNumber}</strong>
p Payment status updated to <strong>"#{status}"</strong>
p Login to your account to see more details
