p Hi #{purchase.seller.lastName} #{purchase.seller.firstName} you have been credited <strong>##{payment.amount}</strong> by #{order.buyer.lastName} #{order.buyer.firstName} to wards the repayment of #{purchase.product.name}
p Login to your account to see more details
