p Hi #{buyer.lastName} #{buyer.firstName} you made a payment of ₦#{order.subTotal} for your order number <strong>##{order.orderNumber}</strong>
p Payment status updated to <strong>"#{status}"</strong>
p <a href="#{process.env.WEB_URL}/login}"> Login to your account</a> see more details
