p Hi #{buyer.lastName} #{buyer.firstName} you made a payment of ₦#{order.subTotal} for your order number <strong>##{order.orderNumber}</strong>
p Payment status updated to <strong>"#{status}"</strong>
p Login to your account to see more details
