p Hi #{cooperative.lastName} #{cooperative.firstName}, a member of your cooperative #{order.buyer.lastName} #{order.buyer.firstName} made a installment payment of <strong>##{payment.amount}</strong> to #{purchase.seller.lastName} #{purchase.seller.firstName}  towards the repayment of #{purchase.product.name}
p Login to your account to see more details
