p Hi #{user.lastName} #{user.firstName} you have a pending contribution of #{amount} to your corporative society on #{process.env.APP_NAME}
p Payment status updated to <strong>"#{status}"</strong>
p <a href="#{process.env.WEB_URL}/login}"> Login to your account</a> see more details
