p Hi #{user.lastName} #{user.firstName} you have a pending contribution of #{amount} Naira to your corporative society on #{process.env.APP_NAME}
p <a href="#{process.env.WEB_URL}/login}"> Login to your account</a> see more details
