p   Hi #{seller.lastName} #{seller.firstName}, the status of an order related to you changed to <strong>#{status.toUpperCase()}</strong> below is the order details
p   Customer Name: <strong>#{order.buyer.lastName} #{order.buyer.firstName}</strong>
p   Order Number <strong>##{order.orderNumber}</strong>
p   Login to take action</p>
