p Hello #{cooperative.lastName} #{cooperative.firstName}, a new user just registered as a member of your co-operative. You are required to approve or reject this new member before they can make purchase on installment
p
    h5 Details
    strong Name: #{user.lastName} #{user.firstName} <br/>
    strong Phone Number: #{user.phoneNumber} <br/>

p Please login to your dashboard for more info<br/>
    a(href=`${process.env.WEB_URL}/login`) Login
