p Hi admin, an installment payment of <strong>##{payment.amount}</strong> was made to #{purchase.seller.lastName} #{purchase.seller.firstName} by #{order.buyer.lastName} #{order.buyer.firstName} to wards the repayment of #{purchase.product.name}
p <a href="#{process.env.WEB_URL}/login}"> Login to your account</a> to see more details
