p Hi Admin, #{buyer.lastName} #{buyer.firstName} made a payment of ₦#{order.subTotal} for order number <strong>##{order.orderNumber}</strong>
p Payment status updated to <strong>"#{status}"</strong>
p <a href="#{process.env.WEB_URL}/login}"> Login to your account</a> to see more details
