p Hi #{purchase.seller.lastName} #{purchase.seller.firstName},
p Status changed for a purchased item. Order number <strong>##{order.orderNumber}</strong> status changed to #{status}
p Details: #{purchase.product.name}<br/> Quantity: #{purchase.quantity}
p Login to your account to see more details
