p Hi admin, #{order.buyer.lastName} #{order.buyer.firstName} completed installment repayment to #{purchase.seller.lastName} #{purchase.seller.firstName} for #{purchase.product.name}
p <a href="#{process.env.WEB_URL}/login}"> Login to your account</a> to see more details
