p Hi #{order.buyer.lastName} #{order.buyer.firstName},
p Your purchase status changed to <strong>#{status}</strong>
p Details: #{purchase.product.name}<br/> Quantity: #{purchase.quantity}
p Login to your account to see more details
