p Hi #{order.buyer.lastName} #{order.buyer.firstName} you have been debited <strong>##{payment.amount}</strong> to wards repayment of you installment
h3 Details Below
p #{purchase.product.name}
p <a href="#{process.env.WEB_URL}/login}"> Login to your account</a> to see more details
