p Hi #{cooperative.lastName} #{cooperative.firstName}, a member of your cooperative #{order.buyer.lastName} #{order.buyer.firstName} completed installment payment to #{purchase.seller.lastName} #{purchase.seller.firstName}  for #{purchase.product.name}
p Login to your account to see more details
